<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mazouri.ketangpai.mapper.HomeworkMapper">

    <select id="getAllUserWork" resultType="com.mazouri.ketangpai.entity.vo.HomeworkVO">
        SELECT
            su.account,
            su.username,
            hw.full_score fullScore,
            cu.user_id userId
        FROM
            course_user cu
                LEFT JOIN sys_user su ON su.id = cu.user_id
                LEFT JOIN homework hw ON hw.course_id = cu.course_id
        WHERE
            hw.id = #{homeworkId}
          AND cu.user_type = 3

    </select>
    <select id="getAllHomeworkById" resultType="com.mazouri.ketangpai.entity.vo.SubmitHomeworkVO">
        SELECT
            h.*
        FROM
            course c
                LEFT JOIN homework h ON h.course_id = c.id
        WHERE
            c.id = #{courseId}
          AND c.is_deleted = 0
          AND h.is_deleted = 0
    </select>
</mapper>
