<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mazouri.ketangpai.mapper.SubmitHomeworkMapper">

    <select id="getSubmitHomeworkList" resultType="com.mazouri.ketangpai.entity.SubmitHomework">
        SELECT DISTINCT
            sh.*
        FROM
            submit_homework sh
                LEFT JOIN course_user cu ON cu.user_id = sh.user_id
                LEFT JOIN homework hw ON hw.id = sh.homework_id
        WHERE
            cu.user_id = #{userId}
          AND hw.course_id = #{courseId}
          AND sh.is_deleted = 0
    </select>
</mapper>
